.movies-card {
  position: relative;
}

.movies-card {
  position: relative;
}

.movies-card:hover {
  cursor: pointer;
}

.movies-card__image {
  object-fit: cover;
  width: 100%;
  height: auto;
  height: 201px;
  border-radius: 7px;
  margin: 0;
  padding: 0;
}

.movies-card__button {
  top: 14px;
  right: 13px;
  position: absolute;

  padding: 6px 7px;

  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 9px;
  letter-spacing: -0.02em;

  border: none;
  border-radius: 30px;
  background-color: #313131;
}

.movies-card__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.movies-card__button_active {
  height: 21px;
  width: 21px;
  top: 14px;
  right: 13px;
  position: absolute;
  border: none;
  border-radius: 30px;
  cursor: pointer;

  background-image: url(../../images/save-button-active.svg);
}

.movies-card__button_active:hover {
  opacity: 0.8;
}

.movies-card__button_type_delete {
  width: 21px;
  height: 21px;
  top: 14px;
  right: 13px;
  position: absolute;

  border: none;


  padding: 6px 7px;
  background-color: transparent;
  background-image: url('../../images/delete-button.svg');

  cursor: pointer;
}

.movies-card__button_type_delete:hover {
  opacity: 0.8;
}


.movies-card__info {
  margin: 0;
  padding: 8px 14px 0 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movies-card__title {
  margin: 0;
  padding: 0;

  font-family: 'Inter', Arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
  letter-spacing: 0.04em;
}

.movies-card__duration {
  margin: 0;
  padding: 4px 8px;

  font-family: 'Inter', Arial, sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 10px;

  color: #8b8b8b;
  background-color: #2f2f2f;
  border-radius: 3px;
}



@media screen and (max-width: 1023px) {
  .movies-card__info {
    padding: 20px 0 0 0;
  }

  .movies-card__image {
    height: 190px;
  }
}


@media screen and (max-width: 550px) {
  .movies-card__info {
    padding: 12px 0 0 0;
  }

  .movies-card__title {
    font-size: 12px;
    line-height: 14.5px;
  }

  .movies-card__duration {
    letter-spacing: -0.02em;
  }

  .movies-card__image {
    height: 168px;
  }
}