.movies {
  box-sizing: border-box;
  flex-grow: 1;
  margin: 0 70px 60px 70px;
  padding: 0;
}

@media screen and (max-width: 1023px) {
  .movies {
    margin: 0 30px 60px 30px;
  }
}

@media screen and (max-width: 550px) {
  .movies {
    margin: 0 10px 28px 10px;
  }
}