.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.profile__title {
  padding: 54px 0 0 0;
  margin: 0;

  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.04em;
}

.profile__form {
  padding: 106px 0 0 0;
  margin: 0 0 204px 0;
  min-width: 410px;

  display: flex;
  flex-direction: column;
}

.profile__fieldset {
  width: 100%;
  border: none;
  margin: 0 auto;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.profile__form-label {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 18px 0 16px 0;

  display: flex;
  justify-content: space-between;

  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  text-align: left;
  border-bottom: 1px solid #424242;
}

.profile__form-label:last-child {
  border-bottom: none;
}

.profile__input {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  width: 80%;

  text-align: right;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  background-color: transparent;
  outline: none;
}

.profile__input-title {
  width: 20%;
}

.profile__button-edit {
  margin: 0 0 17px 0;
  padding: 0;

  background: none;
  border: none;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

.profile__button-edit:hover {
  opacity: 0.7;
}

.profile__exit-link {
  margin: 0;
  padding: 0;

  text-decoration: none;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #EE3465;
}

.profile__exit-link:hover {
  opacity: 0.7;
}


@media screen and (max-width: 1023px) {
  .profile__title {
    padding: 216px 0 0 0;
  }

  .profile__form {
    padding: 80px 0 0 0;
    margin: 0 0 194px 0;
  }
}

@media screen and (max-width: 767px) {
  .profile__form {
    min-width: 260px;
    padding: 65px 0 169px 0;
  }

  .profile__title {
    padding: 54px 0 0 0;
  }

  .profile__button-edit {
    font-size: 12px;
    line-height: 14.5px;
    letter-spacing: 0.04em;
  }

  .profile__exit-link {
    font-size: 12px;
    line-height: 14.5px;
    letter-spacing: 0.04em;
  }
}