.search-form {
  box-sizing: border-box;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 40px;
  border-bottom: solid 1px #424242;
}

.search-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;

  display: flex;
  gap: 10px;
}

.search-form__input {
  box-sizing: border-box;
  flex: 1;

  color: #8b8b8b;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  min-height: 50px;
  max-width: 100%;
  margin: 0;
  padding: 0 0 0 20px;
  border: none;
  border-radius: 8px;
  background-color: #2f2f2f;
}

.search-form__input:focus {
  outline: 0;
}

.search-form__button {
  align-self: center;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background-image: url("./../../images/find-3.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  background-position: center;

  width: 44px;
  height: 44px;
}

.search-form__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 550px) {

  .search-form {
    padding-top: 64px;
    padding-left: 6px;
    padding-right: 6px;
  }

  .search-form__input {
    padding: 0 0 0 11px;
    min-height: 44px;
  }
}