.burger-menu {
  display: none;
}

.burger-menu_type_active {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.burger-menu__content {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #202020;
  width: 520px;
  display: flex;
  flex-direction: column;
}

.burger-menu__blur {
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 520px;
  background-color: rgba(0 0 0 / 0.3);
  position: absolute;
}

.burger-menu__close-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 22px;
  right: 22px;
  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;
  background-image: url('../../images/burger-close-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.burger-menu__close-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.burger-menu__nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 1022px;

  padding: 159px 0 90px 0;
}

.burger-menu__links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.burger-menu__li {
  padding: 0;
  margin: 0 0 25px 0;
}

.burger-menu__link {
  padding: 0 0 4px 0;
  margin: 0;

  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.03em;
  text-align: center;
  text-decoration: none;
}

.burger-menu__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.burger-menu__link:last-child {
  margin: 0;
}

.burger-menu__link_type_active {
  border-bottom: solid 2px #fff;
}

.burger-menu__account-button {
  box-sizing: border-box;
  max-width: 100px;
  background-color: #313131;
  border: none;
  border-radius: 20px;
  margin: 0;
  padding: 7px 20px;

  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.04em;
}

.burger-menu__account-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .burger-menu {
    width: 100%;
  }

  .burger-menu__content {
    width: 100%;
  }

  .burger-menu__close-button {
    top: 14px;
    right: 14px;
  }

  .burger-menu__nav {
    min-height: 824px;

    padding: 145px 0 90px 0;
  }

  .burger-menu__link {
    margin: 0;
  }

  .burger-menu__li {
    margin: 0 0 22px 0;
  }
}