.about-project {
  box-sizing: border-box;
  max-width: 1140px;
  margin: 0 70px 95px 70px;
  padding-top: 110px;
}

.about-project__title {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  color: #fff;
  margin: 0;
  padding: 0 0 25px 0;
}

.about-project__title-container {
  max-width: 1140px;
  position: relative;
  margin-bottom: 50px;
}

.about-project__title-container:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #fff;
}

.about-project__points {
  display: flex;
  max-width: 1140px;
  gap: 46px;
  justify-content: space-between;
  margin: 0 0 110px 0;
  padding: 0;
}

.about-project__table-cell {
  list-style: none;
  max-width: 550px;
  margin: 0;
}

.about-project__point-title {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  letter-spacing: -0.01em;
}

.about-project__text {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  margin: 24px 0 0 0;
  letter-spacing: 0.04em;
  text-align: left;
}

.about-project__progress-cell {
  text-decoration: none;
  color: #8b8b8b;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.about-project__duration {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.about-project__progress-cell {
  text-align: center;
  min-height: 36px;
  margin: 3px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-project__progress-cell_m {
  width: 20%;
}

.about-project__progress-cell_l {
  width: 80%;
}

.about-project__progress-cell_color_green {
  background-color: #3DDC84;
  color: #000;
}

.about-project__progress-cell_color_gray {
  background-color: #303030;
  color: #fff;
}

@media screen and (max-width: 950px) {
  .about-project {
    padding-top: 90px;
  }
}

@media screen and (max-width: 768px) {
  .about-project {
    margin: 0 50px 80px 50px;
  }

  .about-project__text {
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__points {
    margin-bottom: 88px;
    gap: 38px;
  }
}

@media screen and (max-width: 550px) {
  .about-project {
    margin: 0 18px 80px 18px;
    padding-top: 68px;
  }

  .about-project__title {
    font-size: 18px;
    line-height: 24px;
  }

  .about-project__point-title {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
  }

  .about-project__points {
    padding-top: 18px;
    gap: 56px;
    margin-bottom: 58px;
    flex-wrap: wrap;
  }

  .about-project__text {
    margin-top: 16px;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.02em;
  }

  .about-project__title-container {
    margin-bottom: 46px;
  }

  .about-project__progress-cell_m {
    min-width: 100px;
  }

  .about-project__progress-cell_l {
    max-width: calc(100% - 100px);
  }

  .about-project__progress-cell {
    font-size: 11px;
    line-height: 13px;
    margin: 0;
    min-height: 35px;
  }
}