.footer {
  max-width: 1140px;
  margin: 0 70px;
  padding: 100px 0 0 0;
}

.footer__description {
  width: 100%;
  text-align: center;
  margin: 0 0 20px 0;
  padding: 0;
  color: #8b8b8b;
  font-family: 'Inter', Arial, sans-serif;
  letter-spacing: -0.04em;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.footer__bottom {
  margin: 0;
  padding: 8px 0 0 0;
  display: flex;
  justify-content: space-between;
  border-top: solid #424242 1px;
}

.footer__copyright {
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 21px;
  letter-spacing: 0.025em;
  list-style: none;
}

.footer__list-item {
  margin: 0;
  padding: 0;
}

.footer__link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  letter-spacing: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.footer__link:hover {
  opacity: 0.7;
}


@media screen and (max-width: 768px) {
  .footer {
    padding-top: 152px;
    margin: 0 30px;
  }

}

@media screen and (max-width: 550px) {
  .footer__description {
    font-size: 12px;
    line-height: 14.5px;
    letter-spacing: 0.0em;
  }

  .footer {
    padding-top: 132px;
    margin: 0 10px;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: center;
    padding-top: 28px;
  }

  .footer__links {
    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin-bottom: 20px;
  }

  .footer__copyright {
    order: 1;
    font-size: 12px;
    line-height: 14.5px;

  }

  .footer__link {
    font-size: 12px;
    line-height: 14.5px;
  }
}